$primary-color: #14B1C1;
$details-link-color: #10808B;
$white: white;
$input-field-border-color: #7A7C8F;
$input-field-placeholder: #737373;
$input-field-text: #707070;
$text-success: #0EB33C;
$text-danger: #F50606;