@import './colors';

@mixin input{

    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;

    label{
        color: #45475A;
        font-size: 17px;
    }

    input{
        width:inherit;
        display: flex;
        justify-content: space-between;
        border: 1px solid $input-field-border-color;
        color: $input-field-text;
        padding: 6px;
        font-size: 16px;
        border-radius: 4px;

        ::placeholder{
            color: $input-field-placeholder;
        }
    }

}

@mixin button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.625rem 1.875rem;
    border: none;
    border-radius: 0.25rem;
    font-size: 1rem;
    cursor: pointer;
}

@mixin modalHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
    margin: 0;
}

@mixin modalTitle{
    font-size: 20px;
    font-weight: bold;
}

@mixin heading{
    font-size: x-large;
    font-weight: 600;
    margin-top: 3rem;
}

@mixin details_link{
    font-weight: 600;
    color: $details-link-color;
    cursor: pointer;
}

@mixin id_field{
    font-weight: 600;
    color: $primary-color;
}

