@import './colors';
@import './components';

.topNavigation{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 24px 14px 24px;
    background-color: $white;
    box-shadow: 0 1px 15px 0 rgba(0,0,0,0.15);
    box-sizing: border-box;
    position: sticky;
    top: 0;
    left: 0;
}

.menu_container{
    display: flex;
    gap: 50px;
    padding: 10px 10px;
}

.menu_item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 6px;
    cursor: pointer;
}

.active_menu_item{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 6px 4px 6px;
    border-bottom: 3px solid $primary-color;
}

.menu_item_link{
    color: black;
    font-weight:600;
    font-size: 20px;
    text-decoration: none;
}

.dropdown{
    padding: 10px;
}

.dropdown_item{
      display: flex;
      gap: 10px;
      align-items: center;
}

.dropdown_item_link{
    text-decoration: none;
    color: black;
}

@media screen and (max-width: 768px){
    .topNavigation{
        flex-direction: column;
        gap: 20px;
    }

    .menu_container{
        flex-direction: column;
        gap: 20px;
    }

}