@import '../../../styles/components';

.title{
    @include modalTitle
}

.modal_header{
   @include modalHeader
}

.modal_body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
}