@import '../../../styles/components';

.orders_page{
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: auto;
    margin-top: 3rem;
}

.order_id{
    @include id_field; 
}

.view_details_link{
    @include details_link;
}

.price_field{
    display: flex;
    align-items: center;
    gap: 3px;
}

.modal_header{
    @include modalHeader;
}

.modal_title{
    @include modalTitle;
}

.modal_body{
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.item_details{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
